<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>school</title>
</head>
<body>
    <h1>School Roster</h1>
    <a href="http://localhost:8000/index_staff/">
        <button>View All Staff</button>
    </a>
    <br></br>
    <a href="http://localhost:8000/index_students/">
        <button>View All Students</button>
    </a>
</body>
</html>